@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;500;600;700;800;900&display=swap");

:root {
  --mainColor: #010102;
  --secondaryColor: #101119;

  --borderColor: #c1c1c1;

  --mainText: #ffffff;
  --secondaryText: #84888e;

  --darkBlue: #14153c;
  --lightBlue: #5054f1;

  --darkPurple: #52296f;
  --lightPurple: #bc5fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--mainColor);
  font-family: "Exo 2", sans-serif;
  color: var(--mainText);
  overflow-x: hidden;
}

section {
  padding: 20px;
}

h6 {
  font-size: 7rem;
  color: var(--secondaryText);
  opacity: 0.1;
  margin-bottom: -40px;
}

a {
  text-decoration: none;
  color: var(--mainText);
}

p {
  margin-top: 3px;
  margin-bottom: 20px;
  font-size: 0.8rem;
  color: var(--secondaryText);
}

ul {
  list-style-type: none;
}

.sb {
  color: var(--mainText);
  border: 1px solid var(--secondaryText);
  border-radius: 5px;
  padding: 10px;
}

/* Navigation */

.logo {
  z-index: 30;
  position: fixed;
  top: 20px;
  left: 50px;
  font-size: 1.3rem;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgba(249, 125, 64, 1) 0%,
    rgba(182, 109, 135, 1) 50%,
    rgba(135, 97, 183, 1) 70%,
    rgba(85, 85, 235, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
}

.toggle {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 50px;
  z-index: 30;
}

.toggle span {
  display: block;
  background-color: var(--mainText);
  height: 3px;
  width: 23px;
}

.toggle span:not(:last-child) {
  margin-bottom: 3px;
}

.toggle-open span:first-child {
  transform: rotate(45deg);
}

.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 70%;
  background-color: var(--darkPurple);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-right: 3px solid var(--lightPurple);
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  text-align: center;
  padding: 10px;
}

.navigation ul li a {
  font-size: 1.3rem;
  font-weight: 700;
}

.navigation ul li a:hover {
  color: var(--darkPurple);
}

.navigation .social-bar {
  position: absolute;
  left: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
}

.navigation .social-bar ul {
  padding: 20px 0 20px 50px;
}

.navigation .social-bar li {
  padding: 20px;
}

.navigation .write {
  position: absolute;
  left: 50px;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

/* Cover */
.main {
  margin-top: 100px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-content {
  z-index: 9;
  font-size: 30px;
  max-width: 100px;
  text-align: right;
}

.main-content > h1 {
  font-weight: 900;
}

.cover {
  /* border: 2px dashed blue; */
  position: relative;
}

.cover-pic {
  position: relative;
  width: 200px;
  z-index: 10;
  margin-bottom: -3px;
}

.circle {
  position: absolute;
  top: -30px;
  left: 5px;
  height: 180px;
  width: 180px;
  background-color: var(--secondaryColor);
  border-radius: 50%;
}

.player {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondaryColor);
  width: 100%;
  border-radius: 10px;
}

.left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-col > a > img {
  height: 100px;
}

.social > ul {
  display: flex;
}

.social > ul > li:not(:last-child) {
  margin-right: 15px;
}

/* Contact */
.contact-section,
.contact,
.contact-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icons {
  align-items: flex-start;
}

.contact {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(249, 125, 64, 1) 0%,
    rgba(182, 109, 135, 1) 40%,
    rgba(135, 97, 183, 1) 60%,
    rgba(85, 85, 235, 1) 100%
  );
}

.contact-icons {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
  background: linear-gradient(
    90deg,
    rgba(135, 97, 183, 1) 60%,
    rgba(85, 85, 235, 1) 100%
  );
  box-shadow: 5px 5px #ffeaea;
}

.contact-icons > a {
  font-size: 0.7rem;
}

.contact-icons > a > i {
  border: none;
}

.contact-section {
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  p {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 1rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 900;
  }

  section {
    padding: 50px 100px;
  }

  .main {
    margin-right: 50px;
  }

  .player {
    flex-direction: row;
    justify-content: space-between;
  }

  .main {
    justify-content: space-between;
  }

  .main-content {
    font-size: 30px;
    max-width: 480px;
    text-align: left;
    margin-left: 20px;
  }

  .main-content > h1 {
    font-weight: 900;
    font-size: 3rem;
  }

  .main-content p {
    font-size: 1.2rem;
  }

  .left-col p {
    margin: 0;
  }

  .contact {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 150px 50px 100px;
    align-items: center;
  }

  .contact-icons {
    margin: 0;
    padding: 10px;
    box-shadow: 50px 5px #ffeaea;
  }

  .contact-icons > a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  h6 {
    font-size: 17rem;
    margin-bottom: -90px;
  }

  section {
    padding: 30px 200px;
  }

  .logo {
    font-size: 2rem;
  }

  .main-content {
    max-width: 1000px;
  }

  .main-content h1 {
    font-size: 4rem;
  }

  .cover-pic {
    width: 300px;
  }

  .circle {
    left: 20px;
    height: 280px;
    width: 280px;
  }

  .left-col {
    flex-direction: row;
  }

  .left-col a img {
    margin-right: 20px;
  }
}
